.main{
  width: '90%'; 
  padding-left: 40px; 
}
.flex-container{  
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;  
  flex-direction:row;
  flex-wrap:wrap;  
  gap: 10px;
}
.field{  
  background: 'green';
  width:46%;
  font-size: 20px;
}

.formLabel{
  font-size: 15px;
}